.o-artist-detail-cover {
    padding: 0;
    position: relative;
    background-color: $secondary-color;
    height: 100%;
    .a-artist-detail-cover {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-bottom-left-radius: $radius-medium;
        border-bottom-right-radius: $radius-medium;    }
    h2 {
        position: absolute;
        left: 20px;
        bottom: 16px;
        margin: 0;
        color: white;
        font-size: $font-x-x-large;
        font-family: $font-secondary;
    }
    i {
        position: absolute;
        right: 20px;
        bottom: 16px;
        margin: 0;
        color: white;
        font-size: $font-x-large;
    }
}

.m-artist-details {
    background-color: $secondary-color;
    color: white;
    border-bottom-left-radius: $radius-medium ;
    border-bottom-right-radius: $radius-medium ;
    overflow: hidden;
    transition: height 0.5s;
    -webkit-transition: height 0.5s;
    height: 128px;
    padding-top: 1rem;
    h3 {
        margin-bottom: 1.5rem;
    }
    .m-artist-members {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
            margin-bottom: 1rem ;
        }
        h4 {
            font-size: $font-small;
            font-weight: bold;
            text-align: center;
            height: 40px;
        }
        h5 {
            font-size: $font-small;
            text-align: center;
            margin-bottom: 0.5rem;

        }
        .a-artist-detail-tags-icon {
            font-size: $font-large;
        }
    }
    .m-artist-detail-tags > * {
        margin-bottom: 1rem;
    }
}
.o-artist-detail {
    color: $secondary-color;
    .m-information:not(:first-child) {
        margin-top: 1rem;
    }
    h3 {
        margin-top: 2rem;
        margin-bottom: 0.7rem;
        font-family: $font-secondary;
    }
    p {
        color: $tertiary-color;
        padding-right: 1rem;
    }
    .o-information {
        margin-top: 2rem;
        color: white;
        background-color: $secondary-color;
        border-radius: $radius-medium;
        padding: 1rem;
        box-shadow: $box-shadow;
        margin-bottom: 7rem;
        h4 {
            font-size: $font-small;
            font-weight: bold;
        }
        .m-information-icon {
            padding: 0;
            display: flex;
            justify-content: center;
        }
    }
    .a-rider-button {
        background-color: $primary-color;
        color: white;
        border-radius: $radius-medium;
        border: none;
        height: 40px;
        margin-bottom: 3rem;
        margin-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
    }
    .a-rider-button:link {
        text-decoration: none;
    }
    .a-rider-button:hover {
        text-decoration: none;
        border: 2px solid $primary-color;
        color: $primary-color;
        background-color: $primary-bg-color;
    }
    // apply buttton
    .o-apply-button:hover {
        height: 140px;
    }
    .test {
        width: 100%;
        padding: 0;
    }
    @media only screen and (min-width: 1400px) {
        .o-apply-button {
          width: 366.667px;
        }
      }
    @media only screen and (max-width: 1399px) {
        .o-apply-button {
          width: 316.667px;
        }
      }
    @media only screen and (max-width: 1199px) {
        .o-apply-button {
          width: 266.667px;
        }
      }
    @media only screen and (max-width: 991px) {
        .o-apply-button {
            width: 200px;
        }
      }
    .o-apply-button {
        background-color: $tertiary-color;
        position: fixed;
        bottom: 0;
        height: 100px;
        border-top-left-radius: $radius-medium;
        border-top-right-radius: $radius-medium;
        overflow: hidden;
        transition: height 0.5s;
        -webkit-transition: height 0.5s;
        margin-top: 2rem;
        font-family: $font-secondary;
        box-shadow: $box-shadow;

        .a-apply-button {
            position: absolute;
            top: 0;
            border: none;
            color: white;
            background-color: $tertiary-color;
            border-radius: $radius-medium;
            width: 100%;
            height: 50px;
            font-size: $font-large;
            font-weight: bold;
            box-shadow: $box-shadow;
        }
        @keyframes rotation {
            from {
              transform: rotate(0deg);
            }
            to {
              transform: rotate(359deg);
            }
          }
        .o-song {
            .m-img-container {
                margin-top: 4.3rem;
                width: 100%;
                height: min-content;
                position: relative;
                img {
                    width: 100%;
                    height: auto;
                    margin: 0 auto;
                    border-radius: 50%;
                }
                .a-rotate {
                    animation: rotation 4s infinite linear;
                  }
                i {
                    top: 50%;
                    left: 50%;
                    position: absolute;
                    transform: translate(-50%, -50%);
                    color: white;
                    opacity: 0.8;
                }
                i:last-child {
                    display: none;
                }
        }

        .a-apply-color-1 {
            background-color: $secondary-bg-color;

            }


        }
        .a-apply-color-2 {
            background-color: $tertiary-bg-color;

        }

        .a-apply-color-3 {
            background-color: $quaternary-bg-color;

        }
        .a-apply-color-4 {
            background-color: $quinary-bg-color;
        }
    }
}
