.o-header {
  background-color: #FC9627;
  border-radius: 9px;
  margin-top: 2rem;
  height: 60px;
  box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.42);
  color: #990000;
}
.o-header h1 {
  font-size: 19pt;
  margin-bottom: 0;
}
.o-header .m-header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.o-header .m-header-menu h2 {
  font-size: 11pt;
  margin: 0;
}
.o-header .m-header-menu .a-header-icon {
  font-size: 17pt;
  margin-bottom: 10px;
}

.o-header > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.o-header :first-child {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

body {
  background-color: #FFECD6;
  font-family: Arial, sans-serif;
}
/* @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities'; */

