.o-filters {
  margin-top: 4rem;
}
.o-filters .m-filter-button .a-filter-button {
  border: none;
  border-radius: 5px;
  background-color: #990000;
  color: white;
  padding: 0.2rem;
  font-weight: bold;
  font-size: 11pt;
  width: 100%;
}
.o-filters .o-filter-item {
  color: #990000;
  margin-top: 2rem;
}
.o-filters .o-filter-item .m-filter-icon .a-filter-icon {
  font-size: 17pt;
}
.o-filters .o-filter-item .a-filter-item-title {
  font-size: 17pt;
  margin-bottom: 0;
  font-family: "Cooper Black";
}
.o-filters .o-filter-item .m-filter-input-date {
  display: flex;
  margin-top: 1rem;
}
.o-filters .o-filter-item .m-filter-input-date .a-filter-input-date {
  display: inline;
  width: 50%;
  margin: 0;
  padding: 0;
  font-size: 11pt;
  color: #E75124;
}
.o-filters .o-filter-item .m-filter-input-date .a-filter-input-date:first-child {
  border: 1px solid #E75124;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-right: 0;
}
.o-filters .o-filter-item .m-filter-input-date .a-filter-input-date:last-child {
  border: 1px solid #E75124;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.o-filters .o-filter-item .o-filter-input-checkbox {
  margin-top: 1rem;
  /* Hide the browser's default checkbox */
  /* Create a custom checkbox */
  /* On mouse-over, add a grey background color */
  /* When the checkbox is checked, add a blue background */
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Show the checkmark when checked */
  /* Style the checkmark/indicator */
}
.o-filters .o-filter-item .o-filter-input-checkbox .container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 1rem;
  cursor: pointer;
  font-size: 11pt;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.o-filters .o-filter-item .o-filter-input-checkbox .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.o-filters .o-filter-item .o-filter-input-checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 23px;
  width: 23px;
  background-color: white;
  border: 1px solid #E75124;
  border-radius: 5px;
}
.o-filters .o-filter-item .o-filter-input-checkbox .container:hover input ~ .checkmark {
  background-color: #ccc;
  background-color: #E75124;
  border: 1px solid white;
}
.o-filters .o-filter-item .o-filter-input-checkbox .container input:checked ~ .checkmark {
  background-color: #E75124;
}
.o-filters .o-filter-item .o-filter-input-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.o-filters .o-filter-item .o-filter-input-checkbox .container input:checked ~ .checkmark:after {
  display: block;
}
.o-filters .o-filter-item .o-filter-input-checkbox .container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.o-event-cards {
  margin-top: 4rem;
}
.o-event-cards .o-event-card .m-event-card {
  background-color: white;
  border: 2px solid #E75124;
  border-radius: 9px;
  text-align: center;
  margin-bottom: 1.2rem;
  overflow: hidden;
}
.o-event-cards .o-event-card .m-event-card .m-event-card-image-container .a-event-card-image {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}
.o-event-cards .o-event-card .m-event-card h2 {
  font-size: 15pt;
  font-weight: bold;
  font-family: "Cooper Black";
  color: #FC9627;
  padding-bottom: 0.5rem;
  margin-top: 1rem;
}
.o-event-cards .o-event-card .m-event-card h3 {
  color: #FC9627;
  color: #990000;
  font-size: 11pt;
  font-weight: bold;
}
.o-event-cards .o-event-card .m-event-card p {
  font-size: 9pt;
  text-align: left;
  color: #E75124;
  padding: 0.7rem;
}
.o-event-cards .o-event-card .m-event-card .a-border-bottom {
  background-color: #FC9627;
  height: 1px;
  width: 60%;
  margin: 1rem auto;
}
.o-event-cards .o-event-card .m-event-card .a-card-icon {
  color: #FC9627;
  font-size: 15pt;
  margin-right: 0.5rem;
}
.o-event-cards .o-event-card .m-event-card .m-event-card-genres {
  font-size: 11pt;
  color: #E75124;
  margin-bottom: 1rem;
}
.o-event-cards .o-event-card .m-event-card .m-event-card-date {
  font-size: 11pt;
  margin-bottom: 2rem;
  color: #E75124;
}
.o-event-cards .o-event-card:link {
  text-decoration: none;
}
.o-event-cards .o-event-card img {
  transition: all 0.3s;
  transform: scale(1);
}
.o-event-cards .o-event-card:hover img {
  transform: scale(1.1);
}

.o-event-detail-cover {
  padding: 0;
  position: relative;
  background-color: #E75124;
}
.o-event-detail-cover .a-event-detail-cover {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}
.o-event-detail-cover h2 {
  position: absolute;
  left: 20px;
  bottom: 16px;
  margin: 0;
  color: white;
  font-size: 41pt;
  font-family: "Cooper Black";
}

.m-event-details {
  background-color: #E75124;
  color: white;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  height: 116px;
  padding-top: 1rem;
}
.m-event-details h3 {
  margin-bottom: 1.5rem;
}
.m-event-details .m-event-detail-tags {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.m-event-details .m-event-detail-tags h4 {
  font-size: 11pt;
  font-weight: bold;
  text-align: center;
}
.m-event-details .m-event-detail-tags h5 {
  font-size: 11pt;
  text-align: center;
  margin-bottom: 0.5rem;
}
.m-event-details .m-event-detail-tags .a-event-detail-tags-icon {
  font-size: 17pt;
}
.m-event-details .m-event-detail-tags > * {
  margin-bottom: 1rem;
}

.o-event-detail {
  color: #E75124;
}
.o-event-detail .m-information:not(:first-child) {
  margin-top: 1rem;
}
.o-event-detail h3 {
  margin-top: 2rem;
  margin-bottom: 0.7rem;
  font-family: "Cooper Black";
}
.o-event-detail p {
  color: #990000;
  padding-right: 1rem;
}
.o-event-detail .o-information {
  margin-top: 2rem;
  color: white;
  background-color: #E75124;
  border-radius: 9px;
  padding: 1rem;
  box-shadow: 0px 7px 10px 1px rgba(0, 0, 0, 0.54);
}
.o-event-detail .o-information h4 {
  font-size: 11pt;
  font-weight: bold;
}
.o-event-detail .o-information .m-information-icon {
  padding: 0;
  display: flex;
  justify-content: center;
}
.o-event-detail .o-apply-button:hover {
  height: 110px;
}
.o-event-detail .test {
  width: 100%;
  padding: 0;
}
@media only screen and (min-width: 1400px) {
  .o-event-detail .o-apply-button {
    width: 366.667px;
  }
}
@media only screen and (max-width: 1399px) {
  .o-event-detail .o-apply-button {
    width: 316.667px;
  }
}
@media only screen and (max-width: 1199px) {
  .o-event-detail .o-apply-button {
    width: 266.667px;
  }
}
@media only screen and (max-width: 991px) {
  .o-event-detail .o-apply-button {
    width: 200px;
  }
}
.o-event-detail .o-apply-button {
  background-color: #990000;
  position: fixed;
  bottom: 0;
  height: 100px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  overflow: hidden;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  margin-top: 2rem;
  font-family: "Cooper Black";
  box-shadow: 0px 7px 10px 1px rgba(0, 0, 0, 0.54);
}
.o-event-detail .o-apply-button .a-apply-button {
  position: absolute;
  top: 0;
  border: none;
  color: white;
  background-color: #990000;
  border-radius: 9px;
  width: 100%;
  height: 50px;
  font-size: 17pt;
  font-weight: bold;
  box-shadow: 0px 7px 10px 1px rgba(0, 0, 0, 0.54);
}
.o-event-detail .o-apply-button .a-apply-color-1 {
  background-color: #B17090;
}
.o-event-detail .o-apply-button .a-apply-color-2 {
  background-color: #00789D;
}
.o-event-detail .o-apply-button .a-apply-color-3 {
  background-color: #F56C28;
}
.o-event-detail .o-apply-button .a-apply-color-4 {
  background-color: #FC9627;
}

.o-apply-form {
  background-color: rgba(117, 112, 144, 0.5);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}
.o-apply-form .m-apply-form {
  height: 100%;
  display: flex;
  align-items: center;
}
.o-apply-form .m-apply-form form {
  background-color: #FFDFCF;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 7px 10px 1px rgba(0, 0, 0, 0.54);
}
.o-apply-form .m-apply-form form h2 {
  background-color: #E75124;
  color: white;
  font-family: "Cooper Black";
  padding: 1rem;
  text-align: center;
  font-size: 17pt;
  font-weight: bold;
}
.o-apply-form .m-apply-form form label {
  display: block;
  color: #990000;
  font-weight: bold;
  margin: 1rem 0rem;
}
.o-apply-form .m-apply-form form textarea {
  margin: 0 auto;
  width: 100%;
  height: 170px;
  border-radius: 9px;
  border: 1px solid #E75124;
  color: #990000;
}
.o-apply-form .m-apply-form form button {
  background-color: #990000;
  color: white;
  border: none;
  border-radius: 9px;
  box-shadow: 0px 7px 10px 1px rgba(0, 0, 0, 0.54);
  width: 100%;
  height: 40px;
  font-weight: bold;
  margin: 1.5rem 0rem;
}

.o-artist-detail-cover {
  padding: 0;
  position: relative;
  background-color: #E75124;
}
.o-artist-detail-cover .a-artist-detail-cover {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}
.o-artist-detail-cover h2 {
  position: absolute;
  left: 20px;
  bottom: 16px;
  margin: 0;
  color: white;
  font-size: 41pt;
  font-family: "Cooper Black";
}

.m-artist-details {
  background-color: #E75124;
  color: white;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  height: 128px;
  padding-top: 1rem;
}
.m-artist-details h3 {
  margin-bottom: 1.5rem;
}
.m-artist-details .m-artist-members {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.m-artist-details .m-artist-members img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 1rem;
}
.m-artist-details .m-artist-members h4 {
  font-size: 11pt;
  font-weight: bold;
  text-align: center;
  height: 40px;
}
.m-artist-details .m-artist-members h5 {
  font-size: 11pt;
  text-align: center;
  margin-bottom: 0.5rem;
}
.m-artist-details .m-artist-members .a-artist-detail-tags-icon {
  font-size: 17pt;
}
.m-artist-details .m-artist-detail-tags > * {
  margin-bottom: 1rem;
}

.o-artist-detail {
  color: #E75124;
}
.o-artist-detail .m-information:not(:first-child) {
  margin-top: 1rem;
}
.o-artist-detail h3 {
  margin-top: 2rem;
  margin-bottom: 0.7rem;
  font-family: "Cooper Black";
}
.o-artist-detail p {
  color: #990000;
  padding-right: 1rem;
}
.o-artist-detail .o-information {
  margin-top: 2rem;
  color: white;
  background-color: #E75124;
  border-radius: 9px;
  padding: 1rem;
  box-shadow: 0px 7px 10px 1px rgba(0, 0, 0, 0.54);
  margin-bottom: 7rem;
}
.o-artist-detail .o-information h4 {
  font-size: 11pt;
  font-weight: bold;
}
.o-artist-detail .o-information .m-information-icon {
  padding: 0;
  display: flex;
  justify-content: center;
}
.o-artist-detail .a-rider-button {
  background-color: #FC9627;
  color: white;
  border-radius: 9px;
  border: none;
  height: 40px;
  margin-bottom: 3rem;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.o-artist-detail .a-rider-button:link {
  text-decoration: none;
}
.o-artist-detail .a-rider-button:hover {
  text-decoration: none;
  border: 2px solid #FC9627;
  color: #FC9627;
  background-color: #FFDFCF;
}
.o-artist-detail .o-apply-button:hover {
  height: 140px;
}
.o-artist-detail .test {
  width: 100%;
  padding: 0;
}
@media only screen and (min-width: 1400px) {
  .o-artist-detail .o-apply-button {
    width: 366.667px;
  }
}
@media only screen and (max-width: 1399px) {
  .o-artist-detail .o-apply-button {
    width: 316.667px;
  }
}
@media only screen and (max-width: 1199px) {
  .o-artist-detail .o-apply-button {
    width: 266.667px;
  }
}
@media only screen and (max-width: 991px) {
  .o-artist-detail .o-apply-button {
    width: 200px;
  }
}
.o-artist-detail .o-apply-button {
  background-color: #990000;
  position: fixed;
  bottom: 0;
  height: 100px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  overflow: hidden;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  margin-top: 2rem;
  font-family: "Cooper Black";
  box-shadow: 0px 7px 10px 1px rgba(0, 0, 0, 0.54);
}
.o-artist-detail .o-apply-button .a-apply-button {
  position: absolute;
  top: 0;
  border: none;
  color: white;
  background-color: #990000;
  border-radius: 9px;
  width: 100%;
  height: 50px;
  font-size: 17pt;
  font-weight: bold;
  box-shadow: 0px 7px 10px 1px rgba(0, 0, 0, 0.54);
}
@-webkit-keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.o-artist-detail .o-apply-button .o-song .m-img-container {
  margin-top: 4.3rem;
  width: 100%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  position: relative;
}
.o-artist-detail .o-apply-button .o-song .m-img-container img {
  width: 100%;
  height: auto;
  margin: 0 auto;
  border-radius: 50%;
}
.o-artist-detail .o-apply-button .o-song .m-img-container .a-rotate {
  -webkit-animation: rotation 4s infinite linear;
          animation: rotation 4s infinite linear;
}
.o-artist-detail .o-apply-button .o-song .m-img-container i {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  color: white;
  opacity: 0.8;
}
.o-artist-detail .o-apply-button .o-song .m-img-container i:last-child {
  display: none;
}
.o-artist-detail .o-apply-button .o-song .a-apply-color-1 {
  background-color: #B17090;
}
.o-artist-detail .o-apply-button .a-apply-color-2 {
  background-color: #00789D;
}
.o-artist-detail .o-apply-button .a-apply-color-3 {
  background-color: #F56C28;
}
.o-artist-detail .o-apply-button .a-apply-color-4 {
  background-color: #FC9627;
}

.o-artist-cards {
  margin-top: 4rem;
}
.o-artist-cards .o-artist-card:link {
  text-decoration: none;
}
.o-artist-cards .m-artist-card {
  background-color: white;
  border: 2px solid #E75124;
  border-radius: 9px;
  padding: 1.2rem 0rem;
  margin-bottom: 1.2rem;
  text-align: center;
}
.o-artist-cards .m-artist-card .m-artist-card-image-container {
  -o-object-fit: contain;
     object-fit: contain;
  overflow: hidden;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
  box-shadow: 0px 7px 10px 1px rgba(0, 0, 0, 0.54);
}
.o-artist-cards .m-artist-card img {
  width: 100%;
  height: 100%;
}
.o-artist-cards .m-artist-card h2 {
  font-size: 15pt;
  font-weight: bold;
  font-family: "Cooper Black";
  color: #FC9627;
  padding-bottom: 0.5rem;
  margin-top: 1rem;
}
.o-artist-cards .m-artist-card h3 {
  color: #FC9627;
  color: #990000;
  font-size: 11pt;
  font-weight: bold;
}
.o-artist-cards .m-artist-card h5 {
  color: #FC9627;
  color: #990000;
  font-size: 11pt;
}
.o-artist-cards .m-artist-card p {
  font-size: 9pt;
  text-align: left;
  color: #E75124;
  padding: 0.7rem;
}
.o-artist-cards .m-artist-card .a-border-bottom {
  background-color: #FC9627;
  height: 1px;
  width: 60%;
  margin: 1rem auto;
}
.o-artist-cards .m-artist-card .a-card-icon {
  color: #FC9627;
  font-size: 15pt;
  margin-right: 0.5rem;
}
.o-artist-cards .m-artist-card .m-event-card-genres {
  font-size: 11pt;
  color: #E75124;
  margin-bottom: 1rem;
}
.o-artist-cards .o-artist-card img {
  transition: all 0.3s;
  transform: scale(1);
}
.o-artist-cards .o-artist-card:hover img {
  transform: scale(1.1);
}

.o-login {
  margin-top: 4rem;
  box-shadow: 0px 7px 10px 1px rgba(0, 0, 0, 0.54);
  border-radius: 15pt;
  overflow: hidden;
}
.o-login .m-login-header {
  background-color: #990000;
  color: white;
  font-family: "Cooper Black";
  text-align: center;
  padding: 0.5rem;
  margin-bottom: 2rem;
}
.o-login .m-login-header h2 {
  margin: 0;
}
.o-login .m-form-group {
  margin-bottom: 1rem;
  text-align: right;
}
.o-login .m-form-group input {
  width: 100%;
  height: 2.3rem;
  border: none;
  border: 2px solid #FC9627;
  border-radius: 5px;
}
.o-login .m-form-group label {
  font-family: "Cooper Black";
}
.o-login .m-form-group button {
  width: 100%;
  font-family: "Cooper Black";
  color: #990000;
  background-color: #FC9627;
  border: none;
  border-radius: 5px;
  height: 2.3rem;
  margin-bottom: 1rem;
}

.o-header {
  width: 100%;
  background-color: #E75124;
  border-radius: 9px;
  margin-top: 4rem;
  box-shadow: 0px 7px 10px 1px rgba(0, 0, 0, 0.54);
  color: white;
  font-family: "Cooper Black";
  z-index: 1;
}
.o-header .m-header {
  width: 100%;
  height: 60px;
}
.o-header .m-header h1 {
  font-size: 17pt;
  margin-bottom: 0;
}
.o-header .m-header-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.o-header .m-header-menu a,
.o-header .m-header-menu a:link {
  color: white;
  text-decoration: none;
}
.o-header .m-header-menu a h2,
.o-header .m-header-menu a:link h2 {
  font-size: 11pt;
  margin: 0;
}
.o-header .m-header-menu button:hover,
.o-header .m-header-menu a:hover {
  text-decoration: underline;
}
.o-header .m-header-menu button {
  border: none;
  background-color: #E75124;
  color: white;
}

.o-header > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.o-site-logo {
  width: 100%;
  height: 100%;
}
.o-site-logo .m-site-logo {
  position: relative;
}
.o-site-logo .m-site-logo img {
  width: 307px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -54%);
}

.o-profile-events {
  margin-top: 4rem;
}
.o-profile-events .o-events-header {
  color: #990000;
  font-family: "Cooper Black";
}
.o-profile-events .o-events-header h2 {
  font-size: 17pt;
  font-weight: bold;
}
.o-profile-events .o-events-header a,
.o-profile-events .o-events-header a:link {
  background-color: #FC9627;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  padding: 0.5rem 2rem;
}
.o-profile-events .o-events-header .o-events-header-button {
  display: flex;
  justify-content: flex-end;
}
.o-profile-events .o-events-header__alt {
  margin-top: 2rem;
}
.o-profile-events .o-event {
  margin-top: 1rem;
  background-color: white;
  padding: 0;
  border-radius: 5px;
  overflow: hidden;
  color: #990000;
}
.o-profile-events .o-event .o-cover-img {
  padding-left: 0;
}
.o-profile-events .o-event .o-cover-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.o-profile-events .o-event h4 {
  font-size: 15pt;
  font-weight: bold;
  text-align: center;
}
.o-profile-events .o-event h5 {
  font-size: 11pt;
}
.o-profile-events .o-event a,
.o-profile-events .o-event a:link {
  border-radius: 5px;
  color: white;
  background-color: #990000;
  text-decoration: none;
  padding: 0.5rem 1rem;
}
.o-profile-events .o-event > .col-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.o-create-event {
  text-align: right;
}
.o-create-event .o-alert {
  text-align: left;
}
.o-create-event .m-form-group {
  margin-top: 1rem;
}
.o-create-event .m-form-group button {
  width: 100%;
  border: none;
  border-radius: 5px;
  height: 40px;
  border: 1px solid #FC9627;
  background-color: #FC9627;
  color: #990000;
  font-weight: bold;
  font-family: "Cooper Black";
}
.o-create-event input {
  width: 100%;
  border: none;
  border-radius: 5px;
  height: 40px;
  border: 1px solid #FC9627;
}
.o-create-event textarea {
  width: 100%;
  border: none;
  border-radius: 5px;
  height: 200px;
  border: 1px solid #FC9627;
}
.o-create-event label {
  font-weight: bold;
  color: #990000;
}

.m-submit {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.m-submit button {
  background-color: #FC9627;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 0.5rem 2.5rem;
}
.m-submit button:hover {
  border: 2px solid #FC9627;
  background-color: #FFDFCF;
  color: #FC9627;
}

.o-filter-input-checkbox {
  margin-top: 1rem;
  text-align: left;
  /* Hide the browser's default checkbox */
  /* Create a custom checkbox */
  /* On mouse-over, add a grey background color */
  /* When the checkbox is checked, add a blue background */
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Show the checkmark when checked */
  /* Style the checkmark/indicator */
}
.o-filter-input-checkbox .container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 1rem;
  cursor: pointer;
  font-size: 11pt;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.o-filter-input-checkbox .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.o-filter-input-checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 23px;
  width: 23px;
  background-color: white;
  border: 1px solid #E75124;
  border-radius: 5px;
}
.o-filter-input-checkbox .container:hover input ~ .checkmark {
  background-color: #ccc;
  background-color: #E75124;
  border: 1px solid white;
}
.o-filter-input-checkbox .container input:checked ~ .checkmark {
  background-color: #E75124;
}
.o-filter-input-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.o-filter-input-checkbox .container input:checked ~ .checkmark:after {
  display: block;
}
.o-filter-input-checkbox .container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.m-profile-sidebar {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #990000;
}
.m-profile-sidebar a,
.m-profile-sidebar a:link {
  text-decoration: none;
}
.m-profile-sidebar a:hover {
  text-decoration: underline;
  color: #990000;
}
.m-profile-sidebar h3 {
  font-family: "Cooper Black";
  color: #990000;
}
.m-profile-sidebar .a-active-event {
  background-color: white;
  padding: 0.5rem 0.7rem;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #990000;
}

body {
  background-color: #FFDFCF;
  font-family: Arial, sans-serif;
}
/* @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities'; */

