.m-events-path {
    display: flex;
    a,
    a:link {
        color: $tertiary-color;
        text-decoration: none;
    }
    a:hover {
        color: $primary-color;
        text-decoration: underline;
    }
}
.m-events-path * {
    margin-right: 0.5rem;
}
.o-applicant-card {
    margin-top: 2rem;
    .m-applicant-card {
        cursor: pointer;
    }
    .m-applicant-card img {
        transition: all 0.3s;
        transform: scale(1);
    }
    .m-applicant-card:hover img {
        transform: scale(1.1);
    }
    .m-applicant-card {
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: $radius-medium;
        border: 2px solid $tertiary-color;
        text-align: center;
        padding: 1rem;
        color: $tertiary-color;
        .m-img-container {
            overflow: hidden;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin: 0 auto;
            margin-bottom: 1rem;
            box-shadow: $box-shadow;
            border: 2px solid $tertiary-color;

        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        h2 {
            font-size: $font-large;
            font-family: $font-secondary;
        }
        h3 {
            font-size: $font-medium;
            font-weight: bold;
        }
        p {
            text-align: left;
            font-size: $font-small;
        }
        a,
        a:link {
            width: 100%;
            height: 40px;
            color: white;
            border-radius: $radius-small;
            text-decoration: none;
            font-size: $font-medium;
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        a:hover {
            border: 2px solid $tertiary-color;
            color: $tertiary-color;
        }
        .a-view {
            background-color: $primary-color;
        }
        .a-accept {
            background-color: $secondary-color;
            margin-top: 1rem;
        }
    }
}

.a-disable {
    filter: blur(3px) grayscale(100%);
    opacity: 0.6;
    pointer-events: none;
  }
