.o-header  {
    background-color: $quinary-bg-color;
    border-radius: $radius-medium;
    margin-top: 2rem;
    height: 60px;
    box-shadow: 0px 2px 7px 1px rgba(0,0,0,0.42);
    color: $secondary-color;
    margin-bottom: 2.5rem;

    h1 {
        font-size: $font-x-large;
        margin-bottom: 0;
    }

    .m-header-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            font-size: $font-small;
            margin: 0;
        }

        .a-header-icon {
            font-size: $font-large;
            margin-bottom: 10px;
        }
    }

}
.o-header > div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.o-header :first-child {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
