.o-header  {
    width: 100%;
    background-color: $secondary-color;
    border-radius: $radius-medium;
    margin-top: 4rem;
    box-shadow: $box-shadow;
    color: white;
    font-family: $font-secondary;
    z-index: 1;
    .m-header {
        width: 100%;
        height: 60px;
        h1 {
            font-size: $font-large;
            margin-bottom: 0;
        }
    }

    .m-header-menu {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        a,
        a:link {
            color: white;
            text-decoration: none;
            h2 {
                font-size: $font-small;
                margin: 0;
            }
        }
        button:hover,
        a:hover {
            text-decoration: underline;
        }
        button {
            border: none;
            background-color: $secondary-color;
            color: white;
        }
    }

}
.o-header > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.o-site-logo {
    width: 100%;
    height: 100%;
    .m-site-logo {
        position: relative;
        img {
            width: 307px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -54%)
        }
    }
}
