.o-media {
    color: $tertiary-color;
    h2 {
        font-size: $font-large;
        font-family: $font-secondary;
        margin: 0;
        padding: 0;
    }
    .m-button-photos {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .a-button-photos {
            background-color: $primary-color;
            padding: 0.5rem 2rem;
            border-radius: $radius-small;
            cursor: pointer;
            font-weight: bold;
        }
    }
    .o-photos {
        margin-top: 1.5rem;
        img {
            border-radius: $radius-small;
            width: 100%;
            height: 100px;
            object-fit: cover;
        }
    }
}
