.o-profile-events {

    margin-top: 4rem;

    // evetn header
    .o-events-header {
        color: $tertiary-color;
        font-family: $font-secondary;
        h2 {
            font-size: $font-large;
            font-weight: bold;
        }
        a,
        a:link {
            background-color: $primary-color;
            color: white;
            border-radius: $radius-small;
            text-decoration: none;
            padding: 0.5rem 2rem;
        }
        .o-events-header-button {
            display: flex;
            justify-content: flex-end;
        }
    }
    .o-events-sub-header {
        text-align: center;
        h5 {
            font-family: $font-primary;
            font-size: $font-small;
            color: $tertiary-color;
            }
    }
    .o-events-header__alt {
        margin-top: 2rem;
    }
    // event cards
    .o-event {
        margin-top: 1rem;
        background-color: white;
        padding: 0;
        border-radius: $radius-small;
        overflow: hidden;
        color: $tertiary-color;
        .o-cover-img {
            padding-left: 0;
            height: 100px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        h4 {
            font-size: $font-medium;
            font-weight: bold;
            text-align: center;

        }
        h5 {
            font-size: $font-small;
        }
        a,
        a:link {
            border-radius: $radius-small;
            color: white;
            background-color: $tertiary-color;
            text-decoration: none;
            padding: 0.5rem 1rem;
        }

    }
    .o-event > .col-2 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

