$primary-color: #FC9627;
$secondary-color: #990000;

$primary-bg-color: #FFECD6;

$secondary-bg-color: #B17090;
$tertiary-bg-color: #00789D;
$quaternary-bg-color: #F56C28;
$quinary-bg-color: #FC9627;

$radius-small: 5px;
$radius-medium: 9px;
$radius-large: 15px;

$font-x-x-large: 41pt;
$font-x-large: 19pt;
$font-large: 17pt;
$font-medium: 15pt;
$font-small: 11pt;

$font-primary: Arial, sans-serif;
$font-secondary: 'Georigia';

$box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.41);
