@font-face {
    font-family: "Cooper Black";
    src: url('../../../public/src/fonts/cooper-black.ttf');
}
$primary-color: #FC9627;
$secondary-color: #E75124;
$tertiary-color: #990000;

$primary-bg-color: #FEDFCF;

$secondary-bg-color: #B17090;
$tertiary-bg-color: #00789D;
$quaternary-bg-color: #F56C28;
$quinary-bg-color: #FC9627;

$transparent-bg-color: rgba(117,112,144,0.5);
$radius-small: 5px;
$radius-medium: 9px;
$radius-large: 15px;

$font-x-x-large: 41pt;
$font-x-large: 19pt;
$font-large: 17pt;
$font-medium: 15pt;
$font-small: 11pt;

$font-primary: Arial, sans-serif;
$font-secondary: 'Cooper Black';

$box-shadow: 0px 7px 10px 1px rgba(0,0,0,0.54);
